<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/context        
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc       
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <description>Spring MVC Config</description>
	<!-- 1:扫描web相关的bean -->
	<context:component-scan base-package="com.seckill.web" />
	
	<context:annotation-config/>
	<!--配置SpringMvc -->
	<!-- 1.开启SpringMVC注解模式 -->
	<!-- 简化配置： 1.自动注册DefaultAnnotationHandlerMapping,AnnotationMethodHandlerAdapter 
		2.提供一系列：数据绑定，数字和日期的format @NumberFormt,@DataTimeFormat,xml ,json 默认读写支持 -->
	<mvc:annotation-driven/>
	<!-- servlet-mapping 映射路径：“/” 3.0 以前需要什么.action 什么的 -->
	<!-- 2：静态资源默认servlet配置 ： 1：加入对静态资源的处理：js，image， 2：允许使用“/”做整体映射 -->
	<mvc:default-servlet-handler />

	<!-- 3:配置jsp 显示ViewResolver -->
	<!-- 对模型视图添加前后缀 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
	</bean>


	<!-- 5：反之IE版本Json 出现下载 -->
	<!-- 避免IE 在ajax请求时，返回 json出现下载 -->
	<bean id="jacksonMessageConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>
</beans>